.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 white;
}

.card-project.-color{
    background-color: crimson;
}