.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, white, yellow, cyan, #06b800, magenta, red, rgb(39, 39, 197)) 1;
}
