.main-img{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 200px;
    border: 2px solid #8963ba;
    background-color: transparent;

}

.logo{
    width: 180px;
    height: 180px;
}