.main-img{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 200px;
    border: 2px solid #8963ba;
    background-color: transparent;

}

.main-img.-second{
    width: 250px;
    height: 250px;
    border-width: 10px;
    background-color: #90c290;
}

.logo{
    width: 180px;
    height: 180px;
}
