.progress-bar{
    box-sizing: border-box;
    border: 5px solid black;
    height: 30px;
}

.progress-bar::-webkit-progress-bar{
    background-color: white;
}
.progress-bar::-moz-progress-bar{
    background-color: white;
}

.progress-bar::-webkit-progress-value{
    background-color: purple;
}
.progress-bar::-moz-progress-value {
    background-color: purple;
}